<!--{% if perms.catalog.change_product %}-->
<!--                                            <a href="{% url 'catalog:edit' object.pk %}"-->
<!--                                            class="btn btn-sm btn-outline-secondary">Изменить</a>-->
<!--                                        {% endif %}-->
<!--                                        {% if perms.catalog.delete_product %}-->
<!--                                            <a href="{% url 'catalog:delete' object.pk %}"-->
<!--                                            class="btn btn-sm btn-outline-secondary">Удалить</a>-->
<!--                                        {% endif %}-->






