{% extends 'catalog/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-12">
            <a class="btn btn-outline-primary" href="{% url 'blogentry:create' %}">Добавить блог</a>
        </div>
    </div>

    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">Название: {{ object.title }}</h5>
                        <p class="card-text">Описание: {{ object.content | truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'blogentry:view' object.pk %}" class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                                <a href="{% url 'blogentry:edit' object.pk %}" class="btn btn-sm btn-outline-secondary">Изменить</a>
                                <a href="{% url 'blogentry:delete' object.pk %}" class="btn btn-sm btn-outline-secondary">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
