{% extends 'catalog/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-5">

        <div class="col-12">
            <div class="row">
                <!-- Левая колонка с информацией -->
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Информация</h3>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <td>Наименование</td>
                                    <td>{{ object.name }}</td>
                                </tr>
                                <tr>
                                    <td>Цена</td>
                                    <td>{{ object.price }}</td>
                                </tr>
                                <tr>
                                    <td>Описание</td>
                                    <td>{{ object.description | truncatechars:50 }}</td>
                                </tr>
                                <tr>
                                    <td>Дата создания</td>
                                    <td>{{ object.created_at }}</td>
                                </tr>
                                <tr>
                                    <td>Дата последнего изменения</td>
                                    <td>{{ object.updated_at }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Назад</a>
                        </div>
                    </div>
                </div>

                <!-- Правая колонка с изображением -->
                <div class="col-6">
                    <div class="card">
                        <div class="card-body d-flex align-items-center justify-content-center" style="height: 100%;">
                            {% if object.image %}
                            <img src="/media/{{ object.image }}" class="img-fluid" alt="Product Image" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                            {% else %}
                            <p>Нет изображения</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}